[versions]
sdk-compile = "33"
sdk-min = "21"
sdk-target = "33"

minabox = "1.3.0-SNAPSHOT"

compose-bom = "2023.06.00"
compose-compiler = "1.4.6"
accompanist = "0.30.1"
activity-compose = "1.7.2"
coil = "2.3.0"
ktor = "2.3.0"
ktx-serialization = "1.5.1"

plugin-android-gradle = "8.0.2"
plugin-kotlin = "1.8.20"
plugin-detekt = "1.21.0"
plugin-spotless = "6.5.1"
plugin-mavenpublish = "0.21.0"

java-jvmTarget = "17"
java-sourceCompatibility = "11"
java-targetCompatibility = "11"
org-jetbrains-kotlin-jvm = "1.8.20"

[libraries]
minabox = { module = "io.github.oleksandrbalan:minabox", version.ref = "minabox" }
compose-bom = { module = "androidx.compose:compose-bom", version.ref = "compose-bom" }
compose-foundation = { module = "androidx.compose.foundation:foundation" }
compose-material3 = { module = "androidx.compose.material3:material3" }
compose-ui = { module = "androidx.compose.ui:ui" }
compose-uitooling = { module = "androidx.compose.ui:ui-tooling" }
compose-uitoolingpreview = { module = "androidx.compose.ui:ui-tooling-preview" }
androidx-activitycompose = { module = "androidx.activity:activity-compose", version.ref = "activity-compose" }
accompanist-systemuicontroller = { module = "com.google.accompanist:accompanist-systemuicontroller", version.ref = "accompanist" }
coil-compose = { module = "io.coil-kt:coil-compose", version.ref = "coil" }
ktor = { module = "io.ktor:ktor-client-core", version.ref = "ktor" }
ktor-android = { module = "io.ktor:ktor-client-android", version.ref = "ktor" }
ktor-content-negotiation = { module = "io.ktor:ktor-client-content-negotiation", version.ref = "ktor" }
ktor-okhttp = { module = "io.ktor:ktor-client-okhttp", version.ref = "ktor" }
ktor-serialization-json = { module = "io.ktor:ktor-serialization-kotlinx-json", version.ref = "ktor" }
ktx-serialization = { module = "org.jetbrains.kotlinx:kotlinx-serialization-json", version.ref = "ktx-serialization" }

[plugins]
android-application = { id = "com.android.application", version.ref = "plugin-android-gradle" }
android-library = { id = "com.android.library", version.ref = "plugin-android-gradle" }
jetbrains-compose = { id = "org.jetbrains.compose", version = "1.4.0" }
kotlin = { id = "org.jetbrains.kotlin.android", version.ref = "plugin-kotlin" }
kotlin-jvm = { id = "org.jetbrains.kotlin.jvm", version.ref = "org-jetbrains-kotlin-jvm" }
kotlin-multiplatform = { id = "org.jetbrains.kotlin.multiplatform", version.ref = "plugin-kotlin" }
detekt = { id = "io.gitlab.arturbosch.detekt", version.ref = "plugin-detekt" }
serialization = { id = "org.jetbrains.kotlin.plugin.serialization", version.ref = "plugin-kotlin" }
spotless = { id = "com.diffplug.spotless", version.ref = "plugin-spotless" }
mavenpublish = { id = "com.vanniktech.maven.publish", version.ref = "plugin-mavenpublish" }
